.contactUsMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 90%;
    margin: auto;
}

.contactUsMainContainer h2 {
    color: #F79633;
}

.contactUsEmailLink{
    color: #F79633;
    margin: 5px;
}