html {
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f7f7f7;
}

body {
    margin: 0px;
    height: 100vh;
}

.mainHeading {
    margin: 120px 10px 50px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e0e0;
    color: #454545;
}

h2 {
    font-size: 35px;
    color: #454545;
}

h3 {
    font-size: 30px;
    color: #454545;
}

h4 {
    font-size: 25px;
    color: #454545;
}